
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="img/favicon_48.ico" rel="shortcut icon" type="image/x-icon"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<title>甜點電商</title>
<meta property="og:title" content="甜點電商"/>
<meta property="og:description" content="六角學院的甜點電商"/>
<meta property="og:site_name" content="甜點電商"/>
<meta property="og:locale" content="zh_TW"/>
<link rel="stylesheet" href="css/all.css?1538914149572"/>