extends layout.jade
block content
  .p-cart.col-container.h-flex.h-justify-content-between.h-flex-wrap.h-align-items-start.h-justify-content-lg-center
    .p-cart__productList.h-mb-lg-3
      h2.p-cart__productList__title.h-py-3
        | 您的購物車
      ul
        li.p-cart__productList__section.h-flex.h-flex-md-column.h-pb-3.h-pb-md-0.h-mx-lg-3.h-mt-md-1
          .p-cart__productList__section__outerBox.h-flex
            .p-cart__productList__section__outerBox__img(style="background-image: url(https://images.unsplash.com/photo-1504855328839-2f4baf9e0fd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0c8e5539456faeca0e49c79e2ccb16&auto=format&fit=crop&w=800&q=60)")
            .p-cart__productList__section__outerBox__message.h-flex.h-flex-md-column
              .p-cart__productList__section__outerBox__name
                h3 焦糖馬卡龍
                span NT$ 450
              .p-cart__productList__section__outerBox__num.h-py-4.h-p-md-4.h-flex.h-align-items-md-start
                button
                  i.fas.fa-plus
                span 2
                button
                  i.fas.fa-minus
          .p-cart__productList__section__total.h-py-4.h-pl-5.h-p-md-2.h-flex.h-justify-content-between.h-justify-content-md-end.h-align-items-center
            span NT$ 450
            a(href="#")
              i.far.fa-trash-alt
        
        li.p-cart__productList__section.h-flex.h-flex-md-column.h-pb-3.h-pb-md-0.h-mx-lg-3.h-mt-md-1
          .p-cart__productList__section__outerBox.h-flex
            .p-cart__productList__section__outerBox__img(style="background-image: url(https://images.unsplash.com/photo-1504855328839-2f4baf9e0fd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0c8e5539456faeca0e49c79e2ccb16&auto=format&fit=crop&w=800&q=60)")
            .p-cart__productList__section__outerBox__message.h-flex.h-flex-md-column
              .p-cart__productList__section__outerBox__name
                h3 焦糖馬卡龍
                span NT$ 450
              .p-cart__productList__section__outerBox__num.h-py-4.h-p-md-4.h-flex.h-align-items-md-start
                button
                  i.fas.fa-plus
                span 2
                button
                  i.fas.fa-minus
          .p-cart__productList__section__total.h-py-4.h-pl-5.h-p-md-2.h-flex.h-justify-content-between.h-justify-content-md-end.h-align-items-center
            span NT$ 450
            a(href="#")
              i.far.fa-trash-alt
        
        li.p-cart__productList__section.h-flex.h-flex-md-column.h-pb-3.h-pb-md-0.h-mx-lg-3.h-mt-md-1
          .p-cart__productList__section__outerBox.h-flex
            .p-cart__productList__section__outerBox__img(style="background-image: url(https://images.unsplash.com/photo-1504855328839-2f4baf9e0fd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0c8e5539456faeca0e49c79e2ccb16&auto=format&fit=crop&w=800&q=60)")
            .p-cart__productList__section__outerBox__message.h-flex.h-flex-md-column
              .p-cart__productList__section__outerBox__name
                h3 焦糖馬卡龍
                span NT$ 450
              .p-cart__productList__section__outerBox__num.h-py-4.h-p-md-4.h-flex.h-align-items-md-start
                button
                  i.fas.fa-plus
                span 2
                button
                  i.fas.fa-minus
          .p-cart__productList__section__total.h-py-4.h-pl-5.h-p-md-2.h-flex.h-justify-content-between.h-justify-content-md-end.h-align-items-center
            span NT$ 450
            a(href="#")
              i.far.fa-trash-alt
        
        li.p-cart__productList__section.h-flex.h-flex-md-column.h-pb-3.h-pb-md-0.h-mx-lg-3.h-mt-md-1
          .p-cart__productList__section__outerBox.h-flex
            .p-cart__productList__section__outerBox__img(style="background-image: url(https://images.unsplash.com/photo-1504855328839-2f4baf9e0fd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0c8e5539456faeca0e49c79e2ccb16&auto=format&fit=crop&w=800&q=60)")
            .p-cart__productList__section__outerBox__message.h-flex.h-flex-md-column
              .p-cart__productList__section__outerBox__name
                h3 焦糖馬卡龍
                span NT$ 450
              .p-cart__productList__section__outerBox__num.h-py-4.h-p-md-4.h-flex.h-align-items-md-start
                button
                  i.fas.fa-plus
                span 2
                button
                  i.fas.fa-minus
          .p-cart__productList__section__total.h-py-4.h-pl-5.h-p-md-2.h-flex.h-justify-content-between.h-justify-content-md-end.h-align-items-center
            span NT$ 450
            a(href="#")
              i.far.fa-trash-alt
        
    .p-cart__total
      h2.p-cart__total__title.h-p-3
        | 訂單摘要
      ul.p-cart__total__detail
        li.p-cart__total__detail__subTotal.h-flex.h-justify-content-between
          span 小計 
          span NT$ 2,700
        li.p-cart__total__detail__freight.h-flex.h-justify-content-between
          span 運費
          span NT$ 300
            
        li.p-cart__total__detail__totalPrice.h-flex.h-justify-content-between
          span 總計
          span NT$ 3,000
      a.p-cart__total__submit.h-p-3(href="#")
        | 結帳